/* Variable */

:root {
    --sizeBase: 16px;
    --sizeSm: 12px;
    --colorPrimary: rgb(242, 115, 82);
    --colorPrimaryDark: rgba(181, 71, 58, 1);
    --colorWhite: #ffffff;
}


/* Class utils */

.text-small {
    font-size: var(--sizeSm);
    line-height: 1rem;
}

.text-white {
    color: var(--colorWhite);
}

.font-bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.mb-base {
    margin-bottom: 10px;
}


/* Font */

@font-face {
    font-family: GilRoy;
    src: url(font/Gilroy_Light.otf);
}

* {
    font-family: "GilRoy", Arial, sans-serif !important;
}

body {
    margin: 0;
    font-size: var(--sizeBase);
    overflow: hidden;
}

.main {
    display: flex;
    min-height: 100vh;
    .maps {
        flex: auto;
        background-color: gray;
    }
    .sidebar {
        width: 520px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        flex: none;
    }
}

.sidebar .sidebar-header {
    background-color: #f27352;
    padding: 10px 20px;
}

.sidebar-header .logo {
    max-width: 180px;
    opacity: 0.5;
    margin: 8px auto 16px;
    img {
        width: 100%;
    }
}

.connect {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    p {
        font-weight: 600;
        font-size: 24px;
        color: white;
        letter-spacing: 2px;
    }
    // button {
    //     text-transform: uppercase;
    //     color: var(--colorPrimary);
    //     font-size: var(--sizeSm);
    //     padding: 0 16px;
    //     font-weight: bold;
    // }
}

.sidebar-header .balance-wrapper {
    display: flex;
    gap: 20px;
}

.balance-wrapper {
    .balance,
    .available {
        flex: 1;
    }
}

.balance-title {
    color: white;
    font-size: var(--sizeSm);
    line-height: 16px;
}

.balance-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 26px;
    font-weight: 700;
}

.properties-wrapper {
    flex: auto;
    padding: 20px;
    gap: 10px;
    overflow: auto;
}

.propertie {
    background-color: rgba(255, 184, 0, 1);
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
    &__logo-right {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 60px;
        img {
            width: 100%;
        }
    }
    &__content {
        display: flex;
        gap: 20px;
        &--left {
            flex: 1;
            img {
                width: 100%;
            }
        }
        &--right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .propertie-header {
                &__name {
                    font-weight: bold;
                    color: var(--colorWhite);
                    display: flex;
                    align-items: flex-end;
                    gap: 10px;
                    margin-bottom: 10px;
                    img {
                        width: 40px;
                    }
                }
                &__address {
                    font-size: var(--sizeSm);
                    color: var(--colorWhite);
                    margin-bottom: 12px;
                }
            }
        }
    }
}

// .propertie-content {
//     display: flex;
//     gap: 20px;
// }
// .propertie-content-right {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }
// .my-cart {
//     background-color: #f27352;
//     text-transform: uppercase;
//     font-weight: bold;
//     text-align: center;
//     padding: 20px;
//     color: white;
//     border: none;
//     cursor: pointer;
// }
// .image-propertie {
//     flex: 1;
//     img {
//         width: 100%;
//     }
// }
// .propertie-icon {
//     font-weight: bold;
//     color: var(--colorWhite);
//     display: flex;
//     align-items: flex-end;
//     gap: 10px;
//     margin-bottom: 10px;
//     img {
//         width: 40px;
//     }
// }
.propertie-address {
    font-size: var(--sizeSm);
    color: var(--colorWhite);
    margin-bottom: 12px;
}

// .btn-add-to-cart {
//     background-color: var(--colorPrimary);
//     text-transform: uppercase;
//     width: 100%;
//     border: none;
//     min-height: 26px;
//     margin-top: 4px;
//     font-size: var(--sizeSm);
//     color: var(--colorWhite);
//     font-weight: bold;
//     margin-top: 12px;
//     &.added-cart {
//         background-color: var(--colorPrimaryDark);
//     }
// }
.cart-box {
    background-color: #f27352;
    position: relative;
    padding: 5px 20px 20px 20px;
    .btn-buy {
        height: 36px;
        background-color: var(--colorWhite);
        color: var(--colorPrimary);
        width: 100%;
        font-weight: bold;
    }
}

.hide {
    display: none;
}

.arrow-cart-box {
    width: 40px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, -15px);
    cursor: pointer;
}

.cart-box-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.cart-box-items {
    height: 180px;
    background-color: var(--colorWhite);
    margin-bottom: 20px;
    padding: 10px;
    .cart-item {
        padding: 10px 20px;
        background-color: rgba(230, 231, 232, 1);
        font-size: var(--sizeSm);
        width: fit-content;
    }
}

.btn-icon {
    background: none;
    font-size: 30px;
    color: var(--colorWhite);
    padding: 0;
}

.btn-menu {
    position: absolute;
    top: 40px;
    left: 20px;
}

.btn-close {
    font-size: 40px;
}

.menu-sidebar {
    height: -webkit-fill-available;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--colorPrimary);
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    nav {
        padding: 40px 20px 20px 20px;
    }
    .sidebar-footer {
        padding: 20px;
        margin-top: auto;
    }
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .menu-item {
        display: flex;
        gap: 10px;
        align-items: center;
        color: var(--colorWhite);
        font-weight: bold;
    }
}

.logo-sidebar {
    width: 100%;
    opacity: 0.5;
}

// Component
.btn {
    font-weight: bold;
    min-height: 26px;
    background: var(--colorPrimary);
    color: var(--colorWhite);
    font-size: var(--sizeSm);
    padding: 0 16px;
    text-transform: uppercase;
    transition: 0.5s;
    &--secondary {
        background: var(--colorWhite);
        color: var(--colorPrimary);
    }
    &--full {
        width: 100%;
    }
    &--added-cart {
        background-color: var(--colorPrimaryDark);
    }
    &--my-cart {
        min-height: 80px;
    }
}